* {
    margin: 0;
    padding: 0;
}

:root {
    --defaultColor : #55a2a6;
    --defaultBlack : #151515;
    --lightBlack : #333333;
    --darkerBlack : #111111;
    --lightBlack2 : #444444;
    --defaultGray : #ccc;
    --darkerGray : #b2b2b2;
}

html {
    scroll-behavior: smooth;
}

body,
nav,
main,
footer,
main > section,
.about > blockquote,
.features a,
.about > section > article {
    display: flex;
    flex-direction:column;
}

h1 {
    color: var(--darkerBlack);
}

h1, h3 {
text-transform: capitalize;
}

h2 {
    color: white;
    text-transform: uppercase;
}

h3 {
    color: var(--lightBlack2);
}

a {
    text-decoration: none;
}

@media (min-width : 250px) {

    nav > ul {
        display: none;
    }

    nav aside {
        display: flex;
        justify-content: space-between;
        padding-left: 5vh;
        padding-right: 5vh;
        background-color: var(--darkerBlack);
        color: white;
        align-items: center;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    nav h2 {
        padding-left: 5vh;
    }

    details {
        padding-right: 5%;
        /* position: absolute; */
        width: 100%;
        text-align: right;
    }


    .features > article {
        display: flex;
        flex-direction: column;
        row-gap: 10vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .features a {
        color: var(--darkerBlack);
        align-items: center;
        row-gap: 2vh;
    }
    
    .features i {
        font-size: 48px;
    }

    .features p {
        color: var(--darkerGray);
        font-weight: 500;
    }

    .features h3 {
        width: 40%;
        text-align: center;
    }

    .about {
        padding: 5%;
        row-gap: 5vh;
    }

    .about > article {
        display: flex;
        align-items: center;
        column-gap: 1vh;
    }

    .about aside {
        display: flex;
        width: 30%;
        border: 2px solid var(--defaultGray);
        height: 1vh;
        background-color: var(--defaultGray);
    }

    .about > section {
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

    .about > section article {
        row-gap: 3vh;
    }

    .about a{
        width: 30%;
        background-color: var(--defaultColor);
        text-align: center;
        color: whitesmoke;
        padding: 1%;
    }

    .about p {
        line-height: 1.5;
        color: var(--lightBlack2);
        font-size: 12px;
    }

    .about blockquote {
        border-left: 3px solid var(--defaultColor);
        padding: 3%;
    }

    .about q {
        padding-left: 5%;
        line-height: 1.5;
    }

    .about cite {
        color: var(--defaultColor);
        text-transform: uppercase;
    }
}